In [25]:
import pandas as pd
path = 'C:/анаконда/Book1.xlsx'
df = pd.read_excel(path,usecols=[3,10], skiprows=4, skipfooter=1,names=['prih','amount'])
bins = int((df.amount.sum()/500).round())
label = list(range(0,bins))
df['group'] = pd.cut(df.amount.cumsum(), bins=bins, labels=label)

In [28]:
df

            prih  amount group
0   ПРИХ00288664      15     0
1   ПРИХ00297096      11     0
2   ПРИХ00297098       4     0
3   ПРИХ00297705     245     0
4   ПРИХ00297729     500     1
5   ПРИХ00297730     503     2
6   ПРИХ00297733     500     3
7   ПРИХ00297735     194     3
8   ПРИХ00297737     461     4
9   ПРИХ00297742     500     5
10  ПРИХ00297761      30     5

In [15]:
bins = (df.amount.sum()/500).round()

6.0