In [5]:
import pandas as pd
import numpy as np

In [8]:
# –¥–ª—è –≤—Å–µ—Ö –Ω–æ—Ä–º –ø–æ –¢–ü–ì –Ω—É–∂–Ω–æ –æ–±—ä—è–≤–∏—Ç—å —ç—Ç—É –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é
row_number=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ù–û–†–ú–´ 17.12',skiprows=4,usecols=[5])
skip_row=row_number.–¶–û–ö.tolist()
skip_row_n=skip_row.index('–ø–æ–¥–≥—Ä—É–ø–ø–∞')-2

In [7]:
#–°–ß–ò–¢–ê–ï–¢ –ö–û–õ–ò–ß–ï–°–¢–í–û –û–¢–ö–†–´–¢–´–• –ó–ê–ö–†–´–¢–´–• (–≤—Å–µ—Ö)
df=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ë–ê–ó–ê',skiprows=2)
df_all=df[["—Å—Ç–∞—Ç—É—Å","–ù–æ–º–µ—Ä –∏–∑ NAV","–ê–¥—Ä–µ—Å –º–∞–≥–∞–∑–∏–Ω–∞","–¥–∞—Ç–∞ –ø–ª–∞–Ω–æ–≤–æ–≥–æ –æ—Ç–∫—Ä—ã—Ç–∏—è"]]
df_all=df_all[~df_all.—Å—Ç–∞—Ç—É—Å.isin(['–ó–∞–∫—Ä—ã—Ç','–∑–∞–∫—Ä—ã—Ç'])]
df_all=df_all[['—Å—Ç–∞—Ç—É—Å','–ù–æ–º–µ—Ä –∏–∑ NAV']].groupby(by='—Å—Ç–∞—Ç—É—Å').count().reset_index(drop=True, inplace=False)

#–°–ß–ò–¢–ê–ï–¢ –ö–û–õ–ò–ß–ï–°–¢–í–û –û–¢–ö–†–´–¢–´–• –ó–ê–ö–†–´–¢–´–• –∏—Ñ/–±–∫(–∑–æ–ª–æ—Ç–æ)
a=[2,3,6,18]+[*range(28,41)]
a_shops=df.iloc[1:, lambda df: a]
del a_shops['–ò–§ –∞–∫—Å–µ—Å—Å—É–∞—Ä—ã']
a_shops=a_shops[a_shops.—Å—Ç–∞—Ç—É—Å.isin(['–æ—Ç–∫—Ä—ã—Ç','–û—Ç–≥—Ä—É–∂–µ–Ω–æ','—Å–∫–ª–∞–¥'])]
a_shops['—Å—É–º–º–∞']=a_shops.iloc[:,3:].sum(axis=1)
a_shops=a_shops[a_shops['—Å—É–º–º–∞'] >0]
a_shops_count=a_shops[['—Å—Ç–∞—Ç—É—Å','–ù–æ–º–µ—Ä –∏–∑ NAV']].groupby(by=['—Å—Ç–∞—Ç—É—Å']).count().reset_index(drop=True, inplace=False)

#–ü–µ—Ä–µ–≤–æ—Ä–∞—á–∏–≤–∞–µ–º –∏ —Å–æ–µ–¥–∏–Ω—è–µ–º –∑–æ–ª–æ—Ç–æ –∏ —Å–µ—Ä–µ–±—Ä–æ
final = df_all.rename(columns={'–ù–æ–º–µ—Ä –∏–∑ NAV':'—Å_—Å–µ—Ä–µ–±—Ä–æ–º'}).T.append(a_shops_count.rename(columns={'–ù–æ–º–µ—Ä –∏–∑ NAV':'–∑–æ–ª–æ—Ç–æ'}).T)
final.at['—Å_—Å–µ—Ä–µ–±—Ä–æ–º',1] = final.at['—Å_—Å–µ—Ä–µ–±—Ä–æ–º',1]-3 # —É–¥–∞–ª—è–µ–º 3 –ª–æ–º–±–∞—Ä–¥–∞
final[3]=final[0]+final[2]
final[4]=final[1]+final[3]
final = final.drop([0,2],axis=1).rename(columns={1:'–æ—Ç–∫—Ä—ã—Ç–æ',3:'–∫_–æ—Ç–∫—Ä—ã—Ç–∏—é',4:'–∏—Ç–æ–≥–æ'})

#–î–û–°–¢–ê–ï–¢ –°–ü–ò–°–û–ö –ù–û–í–´–• –ú–ê–ì–û–í
new_shops=a_shops[["—Å—Ç–∞—Ç—É—Å","–ù–æ–º–µ—Ä –∏–∑ NAV","–ê–¥—Ä–µ—Å –º–∞–≥–∞–∑–∏–Ω–∞","–¥–∞—Ç–∞ –ø–ª–∞–Ω–æ–≤–æ–≥–æ –æ—Ç–∫—Ä—ã—Ç–∏—è"]]
new_shops=new_shops[
    (new_shops.—Å—Ç–∞—Ç—É—Å == '–û—Ç–≥—Ä—É–∂–µ–Ω–æ')|(new_shops.—Å—Ç–∞—Ç—É—Å == '—Å–∫–ª–∞–¥')].drop(columns='—Å—Ç–∞—Ç—É—Å').sort_values('–¥–∞—Ç–∞ –ø–ª–∞–Ω–æ–≤–æ–≥–æ –æ—Ç–∫—Ä—ã—Ç–∏—è')

#–î–û–°–¢–ê–ï–¢ –ù–û–†–ú–´ –ü–û –º–∞–≥–∞–º –∏—Ñ/–±–∫

norm_all=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ù–û–†–ú–´ 17.12',skiprows=4,nrows=skip_row_n)
list=norm_all.columns.tolist()

cols=[list[list.index('–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV')]]+list[list.index(1001):list.index(1102)+1]+list[list.index(1501):list.index(1593)+1]

opened=a_shops[['–ù–æ–º–µ—Ä –∏–∑ NAV','—Å—Ç–∞—Ç—É—Å']]
norm_all=norm_all[cols]
merged=pd.merge(opened,norm_all,left_on='–ù–æ–º–µ—Ä –∏–∑ NAV', right_on='–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV',how = 'left')
del merged['–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV'],merged['–ù–æ–º–µ—Ä –∏–∑ NAV']
merged=merged.groupby(by='—Å—Ç–∞—Ç—É—Å').sum()
merged=merged.T
merged=merged.assign(sum_all=merged['–û—Ç–≥—Ä—É–∂–µ–Ω–æ']+merged['–æ—Ç–∫—Ä—ã—Ç']+merged['—Å–∫–ª–∞–¥'])
del merged['–û—Ç–≥—Ä—É–∂–µ–Ω–æ'],merged['—Å–∫–ª–∞–¥']

# –°–û–•–†–ê–ù–Ø–ï–ú –í–°–ï –í 1 –§–ê–ô–õ

with pd.ExcelWriter (
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\–û—Ç–¥–µ–ª –∑–∞–∫—É–ø–∫–∏\–õ–ò–ß–ù–´–ï\–°–µ–º–µ–Ω\–Ω—É–∂–Ω–æ–µ\–¥–ª—è_–Ω–æ–≤—ã–µ_–Ω–æ—Ä–º—ã.xlsx'
) as writer:
    final.to_excel(writer, sheet_name='–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ')
    new_shops.to_excel(writer, sheet_name='–Ω–æ–≤—ã–µ_–º–∞–≥–∏')
    merged.to_excel(writer, sheet_name='–Ω–æ–≤—ã–µ_–Ω–æ—Ä–º—ã')

In [3]:
#–î–û–°–¢–ê–ï–¢ –ù–û–†–ú–´ –ü–û –ë–£–ö–í–ê–ú
norm=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ù–û–†–ú–´ 17.12',skiprows=4,nrows=skip_row_n)
list=norm.columns.tolist()
cols=[list[list.index('–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV')]]+list[list.index(1088):list.index(1088)+3]+list[list.index(1582):list.index(1582)+3]
norm=norm[cols]
norm=norm.assign(sum_if=norm[1088]+norm[1089]+norm[1090],sum_bk=norm[1582]+norm[1583]+norm[1584])
norm.set_index('–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV',drop=True, inplace=True)
norm.to_excel(r'C:\–û—Å—Ç–∞—Ç–∫–∏\norm_b.xlsx')

In [4]:
#–î–û–°–¢–ê–ï–¢ –ù–û–†–ú–´ –ü–û –ó–û–î–ò–ê–ö–ê–ú
normb=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ù–û–†–ú–´ 17.12',skiprows=4,nrows=skip_row_n)
listb=normb.columns.tolist()
colsb=[listb[listb.index('–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV')]]+listb[listb.index(1091):listb.index(1091)+3]+listb[listb.index(1585):listb.index(1585)+3]
normb=normb[colsb]
normb=normb.assign(sum_if1=normb[1091]+normb[1092]+normb[1093],sum_bk1=normb[1585]+normb[1586]+normb[1587])
normb.set_index('–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV',drop=True, inplace=True)
normb=normb[[1091,1092,1093,'sum_if1',1585,1586,1587,'sum_bk1']]
normb.to_excel(r'C:\–û—Å—Ç–∞—Ç–∫–∏\norm_z.xlsx')

In [10]:
#–í–´–î–ê–ï–¢ –°–ü–ò–°–û–ö –ê–ö–¢–£–ê–õ–¨–ù–´–• –ú–ê–ì–û–í –ò–§\–ë–ö –° –ù–û–†–ú–ê–ú–ò –ü–û –¢–ì –ò –î–ê–¢–´ –û–¢–ö–†–´–¢–ò–Ø

#–≤—ã–≥—Ä—É–∂–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä—ç–π–º —Å –∞–∫—Ç—É–∞–ª—å–Ω—ã–º–∏ –Ω–æ—Ä–º–∞–º–∏ –ò–§ –ë–ö –∏–∑ —Ä–µ–µ—Å—Ç—Ä–∞ –º–∞–≥–æ–≤ 
all_shops = pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ë–ê–ó–ê',skiprows=2, usecols=[2,3,18]+[*range(28,34)]+[*range(35,41)])

#–≤—ã–±–∏—Ä–∞–µ–º –æ—Ç–∫—Ä—ã—Ç—ã–µ –º–∞–≥–∏ —Å —Å—É–º–º–æ–π –Ω–æ—Ä–º –ø–æ –∏—Ñ/–±–∫ –±–æ–ª—å—à–µ –Ω—É–ª—è
all_shops = all_shops[all_shops.—Å—Ç–∞—Ç—É—Å.isin(['–æ—Ç–∫—Ä—ã—Ç','–û—Ç–≥—Ä—É–∂–µ–Ω–æ','—Å–∫–ª–∞–¥'])]
all_shops['—Å—É–º–º–∞'] = all_shops.iloc[:,3:].sum(axis=1)
all_shops = all_shops[all_shops['—Å—É–º–º–∞'] >0]
del all_shops['—Å—Ç–∞—Ç—É—Å'], all_shops['—Å—É–º–º–∞']
all_shops = all_shops.rename(columns={'–ù–æ–º–µ—Ä –∏–∑ NAV':'–ö–æ–¥'})
all_shops['–ö–æ–¥'] = all_shops['–ö–æ–¥'].astype(np.int64)

# –¥–µ–ª–∏–º –Ω–∞ –¥–≤–∞ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö –∏—Ñ –∏ –±–∫
cols = all_shops.columns.tolist()
shops_if = all_shops[cols[:5]+[cols[7],cols[6],cols[5]]]
shops_bk = all_shops[cols[:2]+cols[8:11]+[cols[13],cols[12],cols[11]]]

#–≤—ã–≥—Ä—É–∂–∞–µ–º –∏–∑ —Ñ–∞–π–ª–∞ "–Ω–∞–ø–æ–ª–Ω—è–µ–º–æ—Å—Ç—å" –∞–∫—Ç—É–∞–ª—å–Ω—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –º–∞–≥–æ–≤ –∏—Ñ/–±–∫, –¥–æ–±–∞–≤–ª—è–µ—Ç —Ç—É–¥–∞ –Ω–æ—Ä–º—ã –∏ –Ω–æ–≤—ã–µ –º–∞–≥–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä—ç–π–º–∞ –≤—ã—à–µ
shops_if_list = pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\–û—Ç–¥–µ–ª –∑–∞–∫—É–ø–∫–∏\–õ–ò–ß–ù–´–ï\–°–µ–º–µ–Ω\–Ω–∞–ø–æ–ª–Ω—è–µ–º–æ—Å—Ç—å —Å 10012019.xlsx',
    sheet_name='–ò–§',skiprows=3, usecols=[2],keep_default_na=False)

shops_bk_list = pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\–û—Ç–¥–µ–ª –∑–∞–∫—É–ø–∫–∏\–õ–ò–ß–ù–´–ï\–°–µ–º–µ–Ω\–Ω–∞–ø–æ–ª–Ω—è–µ–º–æ—Å—Ç—å —Å 10012019.xlsx',
    sheet_name='–ë–ö',skiprows=3, usecols=[2],keep_default_na=False)

# —Å–ø–∏—Å–æ–∫ –Ω–æ–≤—ã—Ö –º–∞–≥–æ–≤ –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–¥–æ –¥–æ–±–∞–≤–∏—Ç—å
add_to_if = pd.DataFrame({'–ö–æ–¥':[x for x in shops_if['–ö–æ–¥'].tolist() if x not in shops_if_list['–ö–æ–¥'].tolist()]})
add_to_bk = pd.DataFrame({'–ö–æ–¥':[x for x in shops_bk['–ö–æ–¥'].tolist() if x not in shops_bk_list['–ö–æ–¥'].tolist()]})

# –¥–æ–±–∞–≤–ª—è–µ–º –Ω–æ–≤—ã–µ –º–∞–≥–∏ –≤ —Å—Ç—Ä—É–∫—Ç—É—Ä—É
shops_if_list = shops_if_list.append(add_to_if, sort=False)
shops_bk_list = shops_bk_list.append(add_to_bk, sort=False)

#—Å–æ–µ–¥–∏–Ω—è–µ–º "—Å—Ç—Ä—É–∫—Ç—É—Ä—É" –∏ –Ω–æ—Ä–º—ã
shops_if = pd.merge(shops_if_list,shops_if,how='left',on='–ö–æ–¥')
shops_bk = pd.merge(shops_bk_list,shops_bk,how='left',on='–ö–æ–¥')


#—É–¥–∞–ª—è–µ–º –∏–Ω–¥–µ–∫—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º –Ω–∞ –æ—Ç–¥–µ–ª—å–Ω—ã–µ –≤–∫–ª–∞–¥–∫–∏
shops_if.set_index('–ö–æ–¥', drop=True,inplace=True)
shops_bk.set_index('–ö–æ–¥', drop=True,inplace=True)

#—Å–æ–∑–¥–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏–∑ –º–∞–≥–æ–≤ —Å –¥–∞—Ç–∞–º–∏ –æ—Ç–∫—Ä—ã—Ç–∏—è –ø–æ—Å–ª–µ–¥–Ω–∏–µ 90 –¥–Ω–µ–π
from datetime import date, timedelta

three_month_ago = date.today() - timedelta(90)
dates=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ë–ê–ó–ê',skiprows=2, usecols = [2,6,18])
dates.rename(columns={'–¥–∞—Ç–∞ –ø–ª–∞–Ω–æ–≤–æ–≥–æ –æ—Ç–∫—Ä—ã—Ç–∏—è':'–¥–∞—Ç–∞'}, inplace=True)

dates=dates[(
    dates.—Å—Ç–∞—Ç—É—Å == '–û—Ç–≥—Ä—É–∂–µ–Ω–æ')|(
    dates.—Å—Ç–∞—Ç—É—Å == '—Å–∫–ª–∞–¥')|(
    dates.—Å—Ç–∞—Ç—É—Å == '–æ—Ç–∫—Ä—ã—Ç')&(
    dates.–¥–∞—Ç–∞ > pd.Timestamp(three_month_ago
                             ))]
del dates['—Å—Ç–∞—Ç—É—Å']
dates['–¥–∞—Ç–∞'] = dates.–¥–∞—Ç–∞.apply(lambda x:x.date())
dates.set_index('–ù–æ–º–µ—Ä –∏–∑ NAV', drop=True,inplace=True)

#—Å–æ—Ö—Ä–∞–Ω—è–µ–º –≤—Å–µ –≤ —ç–∫—Å–µ–ª—å
with pd.ExcelWriter (
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\–û—Ç–¥–µ–ª –∑–∞–∫—É–ø–∫–∏\–õ–ò–ß–ù–´–ï\–°–µ–º–µ–Ω\–∞–∫—Ç—É–∞–ª—å–Ω—ã–µ –º–∞–≥–∏.xlsx'
) as writer:
    shops_if.to_excel(writer, sheet_name='–ò–§')
    shops_bk.to_excel(writer, sheet_name='–ë–ö')
    dates.to_excel(writer, sheet_name='–¥–∞—Ç—ã')

In [47]:
# –°–ü–ò–°–û–ö –ù–û–†–ú –ü–û –¢–ì

#—á–∏—Ç–∞–µ—Ç —Ñ–∞–π–ª —Å —Ä–µ–µ—Å—Ç—Ä–æ–º
df = pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\—Ä–µ–µ—Å—Ç—Ä –º–∞–≥–∞–∑–∏–Ω–æ–≤\–†–ï–ï–°–¢–† –ú–ê–ì–ê–ó–ò–ù–û–í NEW.xlsm',
    sheet_name='–ë–ê–ó–ê',skiprows=2)

#–≤—ã–Ω–∏–º–∞–µ—Ç –Ω—É–∂–Ω—ã–µ –¥–≤–µ —Å—Ç—Ä–æ–∫–∏ –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç
rep_tn = df.iloc[0:1,28:73]
rep_tn.to_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\–û—Ç–¥–µ–ª –∑–∞–∫—É–ø–∫–∏\–õ–ò–ß–ù–´–ï\–¢–∞—Ç—å—è–Ω–∞ –ò–§.–ë–ö\–†–ï–ô–¢–ò–ù–ì–ò\–†–µ–π—Ç–∏–Ω–≥ –¢–ì –∏ –¢–ù\123.xlsx')

In [5]:
!pip install emoji

from emoji import emojize

print(emojize(":thumbs_up:"))

Collecting emoji
  Downloading https://files.pythonhosted.org/packages/6c/ee/8cc0af26113508c8513dac40b1990b21d1d0136b3981a8b7b8a231a56c8d/emoji-0.5.2-py3-none-any.whl (41kB)
Installing collected packages: emoji
Successfully installed emoji-0.5.2
üëç

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
xlwings 0.15.2 has requirement pywin32>=224, but you'll have pywin32 223 which is incompatible.
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [160]:
mus=pd.read_excel(
    r'\\gold585.int\uk\–û–±—â–µ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤\–ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç\–û—Ç–¥–µ–ª –∑–∞–∫—É–ø–∫–∏\–õ–ò–ß–ù–´–ï\–°–µ–º–µ–Ω\–Ω—É–∂–Ω–æ–µ\–º—É—Å—É–ª—å–º–∞–Ω–∫—ç.xlsx',
    sheet_name='–õ–∏—Å—Ç1')
mus

,–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV,1055,1056,1057,1058,1059,1060,1061,1062,1063,...,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572
0,789.0,2.038015,6.793384,4.755369,15.205548,11.310957,5.21276,52.754625,45.873587,16.055755,...,2.009433,62.973673,44.081571,18.892102,12.846861,14.988005,14.988005,13.854208,12.314852,4.618069
1,3081.0,1.972311,6.574369,4.602059,7.602774,5.655479,2.60638,51.053849,44.394651,15.538128,...,2.326864,72.921659,51.045161,21.876498,14.876287,17.355668,17.355668,16.042765,14.260235,5.347588
2,3272.0,2.065490,6.884968,4.819478,0.000000,0.000000,0.00000,53.465830,46.492026,16.272209,...,2.561425,80.272590,56.190813,24.081777,16.375904,19.105221,19.105221,17.659970,15.697751,5.886657
3,3653.0,1.621691,5.405636,3.783945,3.801387,2.827739,1.30319,41.977949,36.502564,12.775898,...,1.476076,46.258807,32.381165,13.877642,9.436967,11.009795,11.009795,10.176938,9.046167,3.392313
4,3954.0,1.336775,4.455918,3.119142,7.602774,5.655479,2.60638,34.602825,30.089413,10.531294,...,1.144088,35.854610,25.098227,10.756383,7.314473,8.533551,8.533551,7.888014,7.011568,2.629338
5,4345.0,2.542142,8.473807,5.931665,0.000000,0.000000,0.00000,65.804098,57.220955,20.027334,...,1.582057,49.580129,34.706090,14.874039,10.114529,11.800284,11.800284,10.907628,9.695670,3.635876
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,772.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,542.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3076.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3506.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3605.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3581.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       1057
3  3.783945

–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑ NAV    3081.000000
1055                  1.972311
1056                  6.574369
1057                  4.602059
1058                  7.602774
1059                  5.655479
1060                  2.606380
1061                 51.053849
1062                 44.394651
1063                 15.538128
1558                  2.647989
1559                  5.146186
1560                  0.341193
1561                 39.002040
1562                 36.454199
1563                  2.326864
1564                 72.921659
1565                 51.045161
1566                 21.876498
1567                 14.876287
1568                 17.355668
1569                 17.355668
1570                 16.042765
1571                 14.260235
1572                  5.347588
Name: 1, dtype: float64

In [49]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Yandex")
location = geolocator.geocode("–í–ª–∞–¥–∏–∫–∞–≤–∫–∞–∑")
print(location.address)

–í–ª–∞–¥–∏–∫–∞–≤–∫–∞–∑, –≥–æ—Ä–æ–¥—Å–∫–æ–π –æ–∫—Ä—É–≥ –í–ª–∞–¥–∏–∫–∞–≤–∫–∞–∑, –°–µ–≤–µ—Ä–Ω–∞—è –û—Å–µ—Ç–∏—è ‚Äî –ê–ª–∞–Ω–∏—è, –°–ö–§–û, –†–§

In [159]:
list=list(range(1,10,1)
df=pd.DataFrame({'col':list})

SyntaxError: invalid syntax (<ipython-input-159-9976a0f31040>, line 2)

In [4]:
import antigravity