In [1]:
# забирает только то что нужно из повторки

import pandas as pd

povtora = pd.read_excel(r'C:\Users\Dotsenko.Semen\Documents\для Семена.xlsx')

del povtora['№ Поставщика']

#povtora = povtora[(povtora['Дизайн'] == 'ИФ БУДДА')]
povtora = povtora[(povtora['Товарное направление'] == 'БК') & (povtora['Тип изделия 1'].isin(['СЕРЬГИ', 'ПОДВЕС ДЕКОРАТИВНЫ']))]

#povtora.sort_values(by=['Тип изделия 1', 'Склад' ,'Дизайн', 'Артикул', 'Отправить на','Размер'], inplace=True)

# считаем количество повторений това
# dict_count = povtora['Товар'].value_counts().to_dict()
# povtora['Скидка по штрихкоду'] = povtora['Товар'].map(dict_count)


povtora.query('Склад == 7001').to_excel(r'C:\рушники\123.xlsx', index=False)

In [9]:
# Join multiple excel files in folder to one excel file
import pandas as pd
import os

dir = 'C:/Users/Dotsenko.Semen/Documents/повторка'
file_list = [dir + '/' + x for x in os.listdir(dir) if '$' not in x]
final = pd.concat([pd.read_excel(x) for x in file_list])

final[final['Товарное направление'].str.contains('БК|ИФ')].to_excel(r'C:\Users\Dotsenko.Semen\Documents\для Семена.xlsx', index=False)

In [ ]:
import pandas as pd
Уч.3 (9103)_ВОР.xlsx

In [12]:
#Проверка повторки на будду и на дисней и желтое 

import pandas as pd

povtora = pd.read_excel(r'C:\Users\Dotsenko.Semen\Documents\для Семена.xlsx')
del povtora['№ Производителя']


disn_list = ['ТОВ1168396','ТОВ1168397','ТОВ1168398','ТОВ1168399','ТОВ1168400','ТОВ1168401','ТОВ1168402','ТОВ1168403','ТОВ1168404','ТОВ1168405','ТОВ1168406',
            'ТОВ1168419','ТОВ1168420','ТОВ1168421','ТОВ1168422','ТОВ1168423','ТОВ1168424','ТОВ1168425','ТОВ1168426','ТОВ1168427','ТОВ1168428']

result = povtora[(povtora['Дизайн'] == "ИФ БУДДА") |
                 (povtora['Товар'].isin(disn_list)) #|
                 #(povtora['Тип изделия 3'].str.contains('ЖЕЛ'))
                ]

result.to_excel(r'C:\рушники\повторка.xlsx', sheet_name='Движение товара', index=False)

In [13]:
result

Empty DataFrame
Columns: [Склад, Вид движения, Товар, Тип изделия 1, Тип изделия 2, Тип изделия 3, № Поставщика, Артикул, Серийный номер, Кол-во, Вес общий, Вес чистый, Проба, Размер, Вставка камней, Толщина плетения, Кол-во камней, Цена розничная, Цена закупки, Цена продажи, Дата партии, Дата прихода, Дата в торг., Дата расхода, Период реализации, Товар описание, Документ поступления, Документ закупки, Старый ярлык, Штрихкод, Группа наценки, Тип изделия, Скидка по штрихкоду, Скидка по группе, Скидка запрещена, Сумма скидки по штрихкоду, Сумма скидки по карте, Сумма скидки по группе, Тип транзакции, Товарное направление, Товарная подгруппа, Ценовая корзина, Дизайн, Проект, Сумма без сертификата, Общий заказ но., Сумма баллов, Сумма баллов сети, Сумма по договору, Был на ОСНО, Отправить на, Цена для ФР, Гендерный признак, 1]
Index: []

[0 rows x 54 columns]

In [1]:
# ЗАДВОИ, МУСУЛЬМАНКА, КОЛЬЦО КУЛЬТОВОЕ проверка заборников
import pandas as pd
import numpy as np

path = r'C:\анаконда\zab.xlsx'
columns = ['Товар Но.', 'Тип 1', 'Склад-приемник', 'Описание', 'Товарная Группа', 'Номер ЗЛ', 'Серийный Но.' ]
zab = pd.read_excel(path, usecols=columns, skiprows=4)

# Задвои
zab = zab[zab['Склад-приемник'] != 7171] # убираем товар на 7171
zab['tovmag'] = zab['Товар Но.'].str.cat(zab['Склад-приемник'].astype('str'),sep='-')
zab['count'] = zab.groupby(['tovmag'])['Номер ЗЛ'].transform('count')

# Мусуль и культовые кольца
# загружаем списки магов
muslim_only = np.array([4990,3403,5183,4938,4759,5273,3918,3583,4991,3635,5033,3361,4772,3450,5107,4724,5182,5111,5412], dtype='int64')

muslim = pd.read_excel(
    r'\\gold585.int\uk\Общее хранилище файлов\Коммерческий департамент\Отдел закупки\ЛИЧНЫЕ\Семен\нужное\мусульманкэ.xlsx',
sheet_name='основная', skiprows=[0],usecols=[0])
muslim = muslim['склад'].to_numpy()

shop_names = pd.read_excel(r'C:\Остатки\наполняемость с 10012020.xlsx',
              sheet_name='ИФ', skiprows=3, usecols=['Код', 'Название'])
shop_names.rename(columns={'Код': 'Склад-приемник'}, inplace=True)

sas = pd.read_excel(r'C:\анаконда\карточки.xlsx', sheet_name='САС', skiprows=6, usecols=['Номер'])
sas = sas['Номер'].to_numpy()

# фильтруем ошибочные распределения и сохраняем в эксель
doubles = zab[(zab['count'] > 1) & (zab['Товарная Группа'] != 'ЛОМБАРДЫ')].sort_values(['Товарная Группа', 'Товар Но.'])

wrong_mus = zab[(zab['Описание'].str.contains('усуль', na=False)) & (~zab['Склад-приемник'].isin(muslim))]
wrong_mus = wrong_mus.merge(shop_names, how='left', on='Склад-приемник')

wrong_sas = zab[(zab['Товарная Группа'] == 'БК КОЛЬЦА') & 
                (zab['Склад-приемник'].isin(muslim_only)) & 
                (zab['Товар Но.'].isin(sas))]

with pd.ExcelWriter('C:/рушники/dob.xlsx') as writer:
    doubles.to_excel(writer, sheet_name='Задвои', index=False)
    wrong_mus.to_excel(writer, sheet_name='мусуль', index=False)
    wrong_sas.to_excel(writer, sheet_name='САС', index=False)

In [5]:
# рубим прихи для повторы

df = pd.read_excel(r'C:\рушники\Книга4.xlsx')

prih_list = df['Документ закупки'].unique()

for x in prih_list:
    df[df['Документ закупки'] == x].to_excel(str('C:/рушники/'+ x +'.xlsx'), index=False, sheet_name='Движение товара')
    
print('|'.join(x for x in prih_list))

ПРИХ00392124|ПРИХ00390420|ПРИХ00391630|ПРИХ00392138|ПРИХ00392147|ПРИХ00391751|ПРИХ00392064|ПРИХ00391962|ПРИХ00391723|ПРИХ00389395|ПРИХ00392066|ПРИХ00391513|ПРИХ00389519|ПРИХ00391757|ПРИХ00391762

In [39]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Dotsenko.Semen\Documents\накладные.xlsx', sheet_name='Sheet1', usecols=list(range(5)))

mustreturn = df.groupby(['КодСклада', 'НазваниеСклада'])['ШК'].count().reset_index()

onstock = pd.read_csv(r'C:\анаконда\tmp.csv', delimiter=';', encoding='utf-8',low_memory=False,
               usecols=["КодСклада", "НазваниеСклада", 'ШК'])

onstock = onstock[onstock['КодСклада'].isin(df['КодСклада'])]

onstock['ШК'].isin(df['ШК'])

onstock = onstock[onstock['ШК'].isin(df['ШК'])]

notreturned = onstock.groupby(['КодСклада'])['ШК'].count().reset_index()

In [9]:
def topnorms():
    return 0
def wedring_norms():
    return 1
def muslim_norms():
    return 2
def normsforraiting():
    return 3



def upload_norms():
    func_dict2 = {0: topnorms(), 1: wedring_norms(), 2: muslim_norms(), 3: normsforraiting()}
    return func_dict2[2]

In [10]:
upload_norms()

2

In [18]:
shop_names = pd.read_excel(r'C:\Остатки\наполняемость с 10012020.xlsx',
              sheet_name='ИФ', skiprows=3, usecols=['Код', 'Название'])
shop_names.rename(columns={'Код': 'Склад-приемник'}, inplace=True)
shop_names

     Склад-приемник                                        Название
0              4946               Анапа,  Астраханская, 99, (Дубль)
1              4901              Геленджик, Островского, 17 (дубль)
2              5285               Кызыл ,Тувинских добровольцев, 26
3              4345  Красноярск, 9 Мая, 77, МТДЦ «Планета» ( ДУБЛЬ)
4              4935                    Моздок, Кирова , 54 ( Дубль)
..              ...                                             ...
957            5385                              Чехов  ( КОД 1824)
958            4850             Горно-Алтайск пр Коммунистический 3
959            5430                     Санкт-Петербург ( КОД 1845)
960            5432                             Иркутск ( КОД 1843)
961            5164                          Кемерово   ( КОД 1768)

[962 rows x 2 columns]

In [ ]:
mstr = '123456987654'

In [5]:
2 ** 10

1024

In [9]:
from math import factorial as fct
fct(3)

6

In [10]:
12 * 10 * 17 * 26 * 49

2598960

In [2]:
a = 1.0
b = 8.0

In [7]:
print(f'''lskjf{a} '
ljd falskf{b}''')

lskjf1.0 '
ljd falskf8.0